@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff'),
       url('../fonts/Roboto-Medium.ttf') format('ttf');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto Medium', sans-serif;
  color: #283136;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}
/* Центровщик */
.container {
  margin: 0 auto;
  /* Ширина контейнера - 880px. Плюс по 10px padding справа и слева */
  width: 900px;
  /* Padding по горизонтали для лучшей видимости на малых экранах */
  padding: 0 10px;
}
/* Спрайт */
.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-ico-basket {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}
.sprite-ico-down-dir {
  width: 11px;
  height: 10px;
  background-position: -30px -5px;
}
.sprite-ico-fb {
  width: 12px;
  height: 22px;
  background-position: -51px -5px;
}
.sprite-ico-filter_range {
  width: 20px;
  height: 23px;
  background-position: -73px -5px;
}
.sprite-ico-input_checkbox_checked {
  width: 27px;
  height: 23px;
  background-position: -103px -5px;
}
.sprite-ico-input_checkbox_unchecked {
  width: 23px;
  height: 23px;
  background-position: -140px -5px;
}
.sprite-ico-input_radio_checked {
  width: 25px;
  height: 25px;
  background-position: -173px -5px;
}
.sprite-ico-input_radio_unchecked {
  width: 25px;
  height: 25px;
  background-position: -208px -5px;
}
.sprite-ico-inst {
  width: 21px;
  height: 21px;
  background-position: -243px -5px;
}
.sprite-ico-red_line {
  width: 25px;
  height: 2px;
  background-position: -274px -5px;
}
.sprite-ico-up-dir {
  width: 11px;
  height: 10px;
  background-position: -309px -5px;
}
.sprite-ico-vk {
  width: 26px;
  height: 15px;
  background-position: -330px -5px;
}
/*////////////////////////////////////////////////////*/
/*----------------------Шапка------------------------ */
/*////////////////////////////////////////////////////*/
.header {
  min-height: 120px;
  /* Нулевой шрифт для борьбы с пробелами в inline-block */
  font-size: 0;
  background-color: #eeeeee;
}
.logo-header {
  display: inline-block;
  padding-top: 27px;
  margin-right: 182px;
  width: 139px;
  vertical-align: top;
}
.logo__img {
  font-size: 16px;
}
.header__nav {
  display: inline-block;
  padding: 0;
  padding-top: 60px;
  margin: 0;
  margin-right: 92px;
  vertical-align: top;
}
.menu {
  display: inline-block;
  padding: 0;
  width: 401px;
  vertical-align: top;
}
.menu__li {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
.menu__li:last-of-type {
  margin-right: 0;
  margin-left: 0;
}
.menu__link {
  /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.cart {
  position: relative;
  display: inline-block;
  padding-top: 60px;
  vertical-align: top;
}
.cart::before {
  position: absolute;
  top: 67px;
  left: -21px;

  content: "";
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;

  background-position: -5px -5px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}
.cart__link {
  /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/*////////////////////////////////////////////////////*/
/*------------------Основной блок-------------------- */
/*////////////////////////////////////////////////////*/

/*----------------Стили для слайдера----------------- */
.main-header {
  background-color: #eeeeee;
}
.slider {
  position: relative;

  width: 880px;
  min-height: 316px;
  margin: 0 auto;
  margin-bottom: 80px;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 316px;

  background-repeat: no-repeat;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}
.slider input[type="radio"] {
  display: none;
}
.slider__controls {
  position: absolute;
  bottom: 85px;
  left: 430px;
  z-index: 10;

  width: 200px;
  margin-left: -100px;

  text-align: center;
}
.slider__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slide-text {
  width: 500px;
  padding: 38px 0;
  line-height: 1;
}
.slide-text__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 36px;
}
.slide-text__description {
  margin-top: 0;
  margin-bottom: 27px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}
.slide-text__link {
  display: block;
  width: 240px;
  padding: 13px 10px;

  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
}
.slide:nth-child(1) {
  background-image: url("../img/slider1.png");
  background-position: 100% 16px;
}
.slide:nth-child(2) {
  background-image: url("../img/slider2.png");
  background-position: 640px 20px;
}
.slide:nth-child(3) {
  background-image: url("../img/slider3.png");
  background-position: 541px -3px;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}
#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}
#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}
#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}
#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
  background: #c1c1c1;
}
/*-------------Конец стилей для слайдера------------- */

/*---------------Стили для секции услуг-------------- */
.services {
  margin-bottom: 70px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
  font-size: 0;
}
.services__service {
  display: inline-block;
  margin: 0;
  margin-right: 80px;
  vertical-align: top;
  width: 240px;
}
.services__service:last-of-type {
  margin: 0;
}
.services__img {
  margin-bottom: 9px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
}
.services__name {
  margin-bottom: 19px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 18px;
  text-transform: uppercase;
}
.services__desc {
  margin-bottom: 26px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 15px;
  line-height: 1.5;
}
.services__link-container {
  display: inline-block;
  width: 140px;
  height: 38px;
  vertical-align: top;
  border-radius: 3px;
  text-align: center;
}
.services__link-container_red {
  background-color: #fb565a;
}
.services__link-container_green {
  background-color: #00ca74;
}
.services__link-container_yellow {
  background-color: #efc84a;
}
.services__link {
  display: block;
  padding-top: 12px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
}
/*-------------Конец стилей для секции услуг------------- */

/*---------------Стили для секции О нас-------------- */
.about-us {
  padding-bottom: 58px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
}
.about-us-top {
  margin-bottom: 12px;
}
.about-us-top__left {
  display: inline-block;
  margin-right: 65px;
  width: 573px;
  vertical-align: top;
}
.h2 {
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 36px;
  margin: 0;
  margin-bottom: 19px;
}
.about-us-top__desc {
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  line-height: 1.4;
}
.about-us-top__right {
  display: inline-block;
  vertical-align: top;
  width: 242px;
}
.logo_medium {
  margin-top: -11px;
  margin-bottom: 13px;
  margin-left: 33px;
}
.date-of-foundation {
  position: relative;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  padding-left: 81px;
  text-transform: uppercase;
}
.date-of-foundation::before {
  position: absolute;
  top: -5px;
  left: 2px;
  content: url('../img/gray_line.png');
}
.about-us-bottom__left {
  display: inline-block;
  margin-right: 65px;
  width: 573px;
  vertical-align: top;
}
.about-us-bottom__services {
  margin-bottom: 14px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  text-transform: uppercase;
}
.about-us-bottom__services-list {
  padding-left: 37px;
  list-style: none;
}
.about-us-bottom__services-li {
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  line-height: 2.8;
}
.red-line-before {
  position: relative;
}
.red-line-before::before {
  position: absolute;
  top: 21px;
  left: -24px;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-position: -274px -5px;
  width: 25px;
  height: 2px;
}
.about-us-bottom__right {
  display: inline-block;
  width: 242px;
  vertical-align: top;
}
.about-us-bottom__skills {
  margin-bottom: 14px;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  text-transform: uppercase;
}
.about-us-bottom__skills-list {
  padding-left: 37px;
  list-style: none;
}
.about-us-bottom__skills-list-li {
  position: relative;
 /* Восстанавливаем размер шрифта, обнулённый методом борьбы с пробелами */
  font-size: 16px;
  line-height: 2.8;
}
/*-------------Конец стилей для секции О нас------------- */

/*---------------Стили для секции Партнёры--------------- */
.partners {
  height: 168px;
  margin-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
}
.partner {
  margin-top: 37px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
.partner:first-of-type {
  margin-right: 120px;
  margin-left: 12px;
}
.partner:nth-of-type(2) {
  margin-right: 123px;
  margin-top: 44px;
}
.partner:nth-of-type(3) {
  margin-top: 45px;
}
/*-------------Конец стилей для секции Партнёры------------- */

/*////////////////////////////////////////////////////*/
/*---------------Конец Основного блока--------------- */
/*////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////*/
/*-----------------------Подвал---------------------- */
/*////////////////////////////////////////////////////*/
.footer {
  margin-bottom: 77px;
}
/*---------------Стили для секции Карты-------------- */
.footer__map {
  position: relative;
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  height: 100%;
}
.map {
  height: 416px;
}
.contacts {
  position: absolute;
  top: 88px;
  left: 160px;

  padding-top: 25px;
  padding-left: 21px;

  width: 250px;
  height: 240px;
  background-color: #fff;
}
.contacts__name {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 31px;
  text-transform: uppercase;
}
.contacts__adress {
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 20px;
}
.contacts__phone {
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 26px;
}
.contacts__feedback {
  display: block;
  margin-left: 2px;
  padding-top: 12px;
  height: 38px;
  width: 204px;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  background-color: #fb565a;
  color: #FFF;
  text-transform: uppercase;
}
.social-buttons {
  display: inline-block;
}
.social-btn {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-btn:last-of-type {
  margin-right: 73px;
}
.social-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}
.social-btn__vk::before {
  width: 26px;
  height: 15px;
  background-position: -330px -5px;
}
.social-btn__fb::before {
  width: 12px;
  height: 22px;
  background-position: -51px -5px;
}
.social-btn__inst::before {
  width: 21px;
  height: 21px;
  background-position: -243px -5px;
}
.social-text {
  display: inline-block;
  margin-top: -5px;
  vertical-align: top;
}
.social-text__slogan {
  margin-bottom: 8px;
}
.social-text__details {
  margin-top: 0;
  margin-bottom: 0;
}

/*////////////////////////////////////////////////////*/
/*-----------------Стили Catalog.html---------------- */
/*////////////////////////////////////////////////////*/
.page-title {
  margin-top: 0;
  margin-left: -11px;
  margin-bottom: 78px;
  padding-top: 29px;
  padding-bottom: 83px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
}
/*-----------------Стили для фильтра----------------- */
.main-left {
  display: inline-block;
  margin: 0;
  margin-right: 80px;
  vertical-align: top;
  font-size: 0;
  /* Поправить ширину */
  width: 240px;
}
/* Стили для слайдера цены */
.price {
  height: 170px;
  margin-bottom: 51px;
  border-width: 0;
}
.price__legend {
  margin-left: -3px;
  margin-bottom: 19px;
  font-size: 18px;
  text-transform: uppercase;
}
.range-filter {
  width: 238px;
}
.range-controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -2px;
  margin-bottom: 14px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  font-size: 16px;
  width: 50%;
}
.price-from {
  margin-left: -2px;
  text-transform: uppercase;
}
.price-to {
  text-transform: uppercase;
}
.max-price {
  text-align: right;
}
.min-price__input {
  margin-left: 6px;
}
.max-price__input {
  margin-left: 6px;
}
.price-controls input {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 16px;
  width: 80px;
  padding: 9px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #f1f1f1;
}
/* Конец стилей для слайдера цены */

/* Стили для выбора сетки */
.grid-types {
  height: 142px;
  margin-bottom: 54px;
  border-width: 0;
}
.grid-types__legend {
  margin-left: -3px;
  margin-bottom: 19px;
  font-size: 18px;
  text-transform: uppercase;
}
.grid-types__label {
  display: block;
  font-size: 16px;
}
/* Конец стилей для выбора сетки */

.features {
  height: 220px;
  margin-bottom: 58px;
}
.features__legend {
  font-size: 18px;
  text-transform: uppercase;
}
.features__type {
  display: none;
}
.features__label {
  position: relative;
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 32px;
  font-size: 16px;
  cursor: pointer;
}
.features__label::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;

  width: 23px;
  height: 23px;
  background-position: -140px -5px;
}
.features__label_checked::before {
  width: 27px;
  height: 23px;
  background-position: -103px -5px;
}
.main-right {
  display: inline-block;
  width: 560px;
  vertical-align: top;
  font-size: 0;
}
.header-of-sort-by {
  margin-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
}
.sort-by__label {
  margin-right: 46px;
  font-size: 12px;
  text-transform: uppercase;
}
.shop-item {
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 110px;
  vertical-align: top;
  font-size: 0;
}
.shop-item:nth-of-type(2n) {
  margin-right: 0;
}
.shop-item__image {
  font-size: 16px;
}
.shop-item-order__name {
  font-size: 18px;
  text-transform: uppercase;
}
.shop-item-order__desc {
  font-size: 14px;
}
.shop-item-order__to-cart {
  font-size: 18px;
}
.pagination {
  padding: 0;
}
.pagination-li {
  display: inline-block;
  font-size: 0;
  margin-right: 10px;
  vertical-align: top;
  text-transform: uppercase;
}
.pagination-li__a {
  font-size: 12px;
  text-decoration: none;
}
